ion-menu {
  --color: #{$sidemenu-header-color};
  --ion-background-color: #{$sidemenu-content-background};
  --ion-text-color: #{$sidemenu-header-color};
  --ion-toolbar-background: #{$sidemenu-header-background};
  --ion-item-background: #{$sidemenu-content-background};

  ion-header {
    ion-title {
      --color: #{$sidemenu-header-color};
    }
  }

  ion-content {
    ion-list {
      ion-item.active {
        --background: #{$sidemenu-header-background};
        --color: #fff;
        --ion-text-color: #fff;
        --ion-text-color-rgb: 255, 255, 255, 1;
        border-left: 4px solid var(--ion-color-success);
      }
    }
  }
}

ion-toolbar {
  --color: #{$toolbar-header-color};
  --ion-background-color: #{$toolbar-content-background};
  --ion-text-color: #{$toolbar-header-color};
  --ion-toolbar-background: #{$toolbar-header-background};
  --ion-item-background: #{$toolbar-content-background};

  ion-title {
    --color: #fff;
  }

}

ion-content {
  --color: #{$content-header-color};
  --ion-background-color: #{$content-content-background};
  --ion-text-color: #{$content-header-color};
  --ion-toolbar-background: #{$content-header-background};
  --ion-item-background: #{$content-content-background};
}
