<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>

    <ion-toolbar [hidden]="!bannerIsVisible" id="second-toolbar" color="medium">
        <ion-text text-wrap id="second-title">
            Welcome,
            <br> we are downloading app functionalities in background,
            stay connected to internet, where the download is complete this banner will disappear automatically.
        </ion-text>
    </ion-toolbar>
</ion-header>


<ion-content class="padding">

    <ion-grid style="height: 95%;">
        <ion-row style="height: 100%;" class="justify-content-center align-items-center">
            <ion-col sizeMd="4" sizeSm="12">
                Welcome
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
